.controls-container {
  color: white;
}

.sliders-container {
  right: 1rem;
  display: flex;
  flex-direction: column;
  top: 10rem;
  transform: rotateZ(90deg) scale(1.7);
}

.flex {
  display: flex;
  input {
    margin-left: 0.4rem;
  }
}
