.controls-container {
  color: white;
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  div {
    margin: 0 1rem;
  }
}

.sliders-container {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  input {
    margin-left: 0.4rem;
  }
}

.opacity-controller-container {
  display: flex;
  transform: translateX(-0.05rem);
  div {
    margin-right: 0.3rem;
  }
}
